html {
}

body {
    font-family: 'Libre Baskerville', 'Times New Roman', Times, serif;
    color: #000000;
    background-image: url('backgroundcolor.jpg');
    background-color: #f3ebc4;
}

h2 {
    font-family: 'Libre Baskerville', 'Times New Roman', Times, serif;
    font-weight: inherit;
    font-size: 1.3em;
}

.header {
    width: 100%;
    top: 0px;
    text-align: center;
}

.top-content {
    margin-left: auto;
    margin-right: auto;
}

.content {
    margin-left: auto;
    margin-right: auto;
    display: table;
    table-layout: fixed
}

#leftbox, #rightbox { 
    display: table-cell;
}

#leftbox {
    vertical-align: top; 
    width: 350px; 
    text-align: left;
    padding: 15px;
}

#rightbox {
    vertical-align: top; 
    width: 300px; 
    padding: 15px;
}

.imgborder {
   padding: 2px;
   border: 2px solid black;
}
