html {
}

body {
    font-family: "Goudy Old Style", "Times New Roman", Times, serif;
    color: #000000;
    background-image: url('backgroundcolor.jpg');
    background-color: #f3ebc4;
}

.header {
    width: 100%;
    top: 0px;
    text-align: center;
}

.content {
    display: table;
    table-layout: fixed
}

#leftbox, #rightbox { 
    display: table-cell;
}

#leftbox {
    vertical-align: top; 
    width: 350px; 
    text-align: left;
    padding: 15px;
}

#rightbox {
    vertical-align: middle; 
    width: 300px; 
    padding: 15px;
}

.imgborder {
   padding: 2px;
   border: 2px solid black;
}
