body, h1 {
  font-family: "Century Schoolbook", "Times New Roman",
        Times, serif;
  color: #000000;
  background-image:url('parchment.jpg');
  background-color: #F4FAD2 }

div.leftbox {
  text-align: left;
  float: left;
  display: block;
  margin-left: 10 }

div.rightbox {
  text-align: right;
  float:right;
  display: block;
  margin-right: 10 }

img.border {
  border-style:solid }
